#!/usr/bin/env python

import RPi.GPIO as gpio


def down(gpio):
  global directions
  directions = [1,0] #alla
  
  
def up(gpio):
  global directions
  directions = [0,-1]#ülesse
  
  
def felt(gpio):
  global directions
  directions = [-1,0]#vasakule
  
  
def right(gpio):
  global directions
  directions = [0,1]#paremale
  
  
gpio.setwarnings(False)
gpio.setmode(gpio.BOARD)
gpio.setup(8, gpio.IN, pull_up_down=gpio.PUD_DOWN)
gpio.add_event_detect(8, gpio.RISING, clallback=down)

gpio.setwarnings(False)
gpio.setmode(gpio.BOARD)
gpio.setup(10, gpio.IN, pull_up_down=gpio.PUD_DOWN)
gpio.add_event_detect(10, gpio.RISING, clallback=up)

gpio.setwarnings(False)
gpio.setmode(gpio.BOARD)
gpio.setup(12, gpio.IN, pull_up_down=gpio.PUD_DOWN)
gpio.add_event_detect(12, gpio.RISING, clallback=paremale)

gpio.setwarnings(False)
gpio.setmode(gpio.BOARD)
gpio.setup(16, gpio.IN, pull_up_down=gpio.PUD_DOWN)
gpio.add_event_detect(16, gpio.RISING, clallback=vasakule)
